/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: 'Poppins', sans-serif;
}

main {
  margin: 0 1rem;
}

body{
  background-image: none;
}

#wrapper {
  background-color: #ffffff;
  margin: 0 auto;
}

/*--------------- HEADER Styles --------------*/
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 1rem;
}
#top-header a {
  text-decoration: none;
  color: #000000;
}

#top-header a:visited {
  text-decoration: none;
  color: #000000;
}

.siteName {
  font-size: 25px;
  font-weight:700;
}

#tools a:hover {
  text-decoration: underline;
}

/* ------ NAVIGATION styles -----------*/
nav ul{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 18px;
  padding: 1rem .5rem;
  background-color: #000000;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
}

nav a:visited {
  color: #ffffff;
}


/* ------ Hero section styles -----------*/
.hero {
  background-image: url('/images/vehicles/delorean.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  margin: 1rem 0rem;
}

.hero {
  margin: 1rem 0rem;
}

.hero h2 {
  font-size: 20px;
}

.hero h3 {
  font-size: 18px;
  color: #05afd3;
}

.hero p {
  font-size: 16px;
  color: #05afd3;
}

.hero section {
  padding: 1rem 1.5rem;
  width: 200px;
  background: rgba(255, 255, 255, 0.801);
}

.hero button {
  background-color: #05afd3;
  border: none;
  padding: .5rem 1rem;
  color: #000000;
  font-size: 17px;
}

.hero button:hover {
  background-color: #000000;
  color: #ffffff;
}

.notice {
  background-color: rgba(255, 242, 123, 0.543);
  padding: 15px 35px;
  border: 1px solid #ffea3294;
  font-weight: bold;

}
/* ------ Upgrade & Reviews section styles -----------*/

.upgrade-review {
  display: grid;
  margin: 1rem .5rem;
  grid-template-rows: .5fr 1fr;
  grid-gap: 0px;
}

/*Upgrade*/
.upgrad-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.upgrad-grid div a {
  display: block;
  color: #000000;
  text-align: center;
  font-size: 16px;
}

.upgrad-each {
  margin-top: 1rem;
}

.img-container{
  min-height: 100px;
  border: 1.5px solid #000000;
  text-align: center;
  width: 90%;
  padding-top: 1rem;
  background-color: #05afd3;
  margin-bottom: .5rem;
}

/*Reviews*/
.review-section {
  grid-row: 1/2;
}

.review-section li{
  padding: .5rem 0;
  font-size: 16px;
}

.review-section ul {
  padding: 1rem;
}

/* ------ Inventory styles -----------*/
#inv-display {
display: grid;
grid-template-columns: 1fr;
grid-column-gap: 1rem;
grid-row-gap: 1rem;
}

#inv-display li {
list-style-type: none;
border: 1px solid #000000;
border-radius: 10px;
text-align: center;
min-height: 300px;
}
/* ------ Inventory DETAILS styles -----------*/

#vehicle-details {
  display: grid;
  grid-template-rows: .5fr 1fr;
  min-height: 470px;
}

#vehicle-details img {
  width: 100%;
}

#vehicle-details span {
  font-weight: bold;
}

#vehicle-details p {
  margin: 1rem 0;
  padding: .5rem 0;
}

#vehicle-details .background {
  background-color: #d4d4d46c;
}

/* ------ LOGIN  -----------*/
#loginBox {
  background-color: #30465d;
  max-width: 400px;
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 17px;
}

#loginForm p label{
  display: block;
}

#loginForm p input{
  width: 100%;
}

#loginForm button {
  background-color: #ffffff;
  border: none;
  padding: .3rem 1rem;
  color: #000000;
  font-size: 17px;
}

#loginBox a {
  color: #ffffff;
}

/* ------ REGISTER  -----------*/
#registerBox {
  background-color: #30465d;
  max-width: 400px;
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 17px;
}

#registerBox p label{
  display: block;
}

#registerBox p input{
  width: 100%;
}

#registerBox #showPassword {
  display: block;
  font-size: 13px;
  margin-top: .2rem;
}
#registerBox button {
  background-color: #ffffff;
  border: none;
  padding: .3rem 1rem;
  color: #000000;
  font-size: 17px;
}

#registerForm input:focus {
  outline: none;
}

#loginForm input:focus {
  outline: none;
}

#registerForm input:focus:invalid {
  border: 2px solid red;
 }

#loginForm input:focus:invalid {
  border: 2px solid red;
}

#registerForm input:required:valid {
  border: 2px solid green;
}

#loginForm input:required:valid {
  border: 2px solid green;
}

/* ------ Management View styles -----------*/
#management-view ul{
list-style: none;
}

#classificationBox, #inventoryBox {
  background-color: #30465d;
  max-width: 500px;
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 17px;
}

#classificationBox p label, #inventoryBox p label{
  display: block;
}

#classificationBox p input, #inventoryBox p input, #inventoryBox textarea{
  width: 100%;
}

#classificationForm input:focus, .inventoryForm input:focus{
  outline: none;
}

#classificationForm input:focus:invalid, .inventoryForm input:focus:invalid{
  border: 2px solid red;
 }

#classificationForm input:required:valid, .inventoryForm input:required:valid{
  border: 2px solid green;
}


/* ------ Management Inventory styles -----------*/
#inventoryDisplay{
  margin: 1rem;
  border-collapse: collapse;
  width: 100%;
}

#inventoryDisplay td, #inventoryDisplay th {
  border: 1px solid #ddd;
  padding: 8px;
}

#inventoryDisplay tr:nth-child(even){background-color: #f2f2f2;}

#inventoryDisplay tr:hover {background-color: #ddd;}

#inventoryDisplay th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #05afd3;
  color: white;
} 

/* ------ Footer styles -----------*/
footer {
  margin: 0 2rem;
  margin-top: 2.5rem;
}


/* ------ MEDIA QUERIES LARGE-----------*/
@media screen and (min-width: 800px) {
  main {
    max-width: 900px;
    margin: 0 2rem;
    min-height: 600px;
  }

  body{
    background-image: url('/images/site/small_check.jpg');
  }

  #wrapper {
    max-width: 1000px;
    border: 5px solid #05afd3;
    border-radius: 15px;
  }

  /*--------------- HEADER Styles --------------*/
  #top-header {
    margin: 1.5rem 2rem;
  }

  .siteName{
    font-size: 35px;
  }

  /* ------ NAVIGATION styles -----------*/
  nav ul{
    width: 95%;
  }

  nav a:hover {
    text-decoration: underline;
  }

  /* ------ Hero section styles -----------*/
  .hero {
    background-size: contain;
  }

  .hero {
    margin: 1rem .5rem;
  }

  .hero h2 {
    font-size: 25px;
  }

  .hero h3 {
    font-size: 22px;
  }

  .hero p {
    font-size: 19px;
  }

  .hero section {
    width: 250px;
    margin-left: 3rem;
  }

  .hero button {
    padding: .5rem 2rem;
    font-size: 18px;
  }


/* ------ Upgrade & Reviews section styles -----------*/

.upgrade-review {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: none;
  grid-gap: 1rem;
}

/*Upgrade*/
.upgrad-grid div a {
  font-size: 18px;
}

/*Reviews*/
.review-section {
  grid-column: 2/3;
}

.review-section li{
  padding: 1rem 0;
  font-size: 18px;
}

/* ------ Inventory DETAILS styles -----------*/

#inv-display {
  grid-template-columns: 1fr 1fr 1fr;
  }  

#vehicle-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: none;
}

#vehicle-details img {
  width: 400px;
}

}